/* Scss Document */
/* line 2, tab.scss */
body {
  font-family: 'Roboto Bold';
}

/* Style the tab */
/* line 5, tab.scss */
div.tab {
  overflow: hidden;
  border: 1px solid #cccfff;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
/* line 12, tab.scss */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
/* line 24, tab.scss */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
/* line 29, tab.scss */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
/* line 34, tab.scss */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
